<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Se registro a , ' + ${name} + ' con el id: '+${idPersona}+', saludos desde SpringMvc!'" />
</body>
</html>